### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Player_Count = len(purchase_data["SN"].value_counts())
print ("Player Counts: " + str(Player_Count))

Player Counts: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Num_Uni_items = (purchase_data["Item Name"].nunique())
Num_Uni_items

Average_Price = (purchase_data["Price"].mean())
Average_Price

Total_Revenue = (purchase_data["Price"].sum())
Total_Revenue

d = [{'Number of Unique Items': Num_Uni_items, 'Average Price' : Average_Price, 
    'Total Revenue': Total_Revenue}]
PA_ds = pd.DataFrame(d)

PA_ds

   Number of Unique Items  Average Price  Total Revenue
0                     179       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Male_ds = purchase_data[purchase_data["Gender"] == "Male"]
Male_TotalCount= Male_ds["SN"].nunique()

Female_ds = purchase_data[purchase_data["Gender"] == "Female"]
Female_TotalCount= Female_ds["SN"].nunique()

Other_ds = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
Other_TotalCount= Other_ds["SN"].nunique()

Total = Male_TotalCount + Female_TotalCount + Other_TotalCount

Male_Percent = (Male_TotalCount/Total)*100

Female_Percent = (Female_TotalCount/Total) * 100

Other_Percent = (Other_TotalCount/Total) *100

d = {'Total Count':[Male_TotalCount, Female_TotalCount , Other_TotalCount], 'Percentage of Players' : [Male_Percent,Female_Percent,Other_Percent]}

df = pd.DataFrame(d, index= ['Male','Female','Other/Non-Disclosed'])

df

                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other/Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Male_ds = purchase_data[purchase_data["Gender"] == "Male"]
MAverage_Price = Male_ds["Price"].mean()
MPurchase_Count = Male_ds["Purchase ID"].count()
MTotalPurchase = Male_ds["Price"].sum()
Male_group = Male_ds.groupby(["SN"]).sum()
MAvg_perPerson = Male_group["Price"].mean()

Female_ds = purchase_data[purchase_data["Gender"] == "Female"]
FAverage_Price = Female_ds["Price"].mean()
FPurchase_Count = Female_ds["Purchase ID"].count()
FTotalPurchase = Female_ds["Price"].sum()
Female_group = Female_ds.groupby(["SN"]).sum()
FAvg_perPerson = Female_group["Price"].mean() 

Other_ds = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
OAverage_Price = Other_ds["Price"].mean()
OPurchase_Count = Other_ds["Purchase ID"].count()
OTotalPurchase = Other_ds["Price"].sum()
Other_group = Other_ds.groupby(["SN"]).sum()
OAvg_perPerson = Other_group["Price"].mean()

d = {'Purchase Count':[MPurchase_Count, FPurchase_Count , OPurchase_Count], 
     'Average Purchase Price' : [MAverage_Price,FAverage_Price,OAverage_Price],
     'Total Purchase Value' : [MTotalPurchase, FTotalPurchase,OTotalPurchase],
     'Avg Total Purchase per Person' : [MAvg_perPerson, FAvg_perPerson,OAvg_perPerson]}

df = pd.DataFrame(d, index= ['Male','Female','Other/Non-Disclosed'])

df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins= [0,10,14,19,24,29,34,39, 99]
A= purchase_data.drop_duplicates(subset="SN", keep='first')
group_names =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Agedf= pd.cut(A["Age"], bins, labels=group_names)
Agedf = Agedf.value_counts(sort=False)
Agedf = pd.DataFrame(Agedf)
Agedf["Percentage of Players"] = (Agedf["Age"] / Player_Count)*100
Agedf

       Age  Percentage of Players
<10     24               4.166667
10-14   15               2.604167
15-19  107              18.576389
20-24  258              44.791667
25-29   77              13.368056
30-34   52               9.027778
35-39   31               5.381944
40+     12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
Age_Bin = purchase_data
bins= [0,10,14,19,24,29,34,39, 99]
group_names =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Age_Bin["Age Ranges"]= pd.cut(purchase_data["Age"], bins, labels=group_names)
Age_Bin["Price2"] = Age_Bin["Price"] 
rename = {'Item ID': "Purchase Count", "Price" : "Average Purchase Price", "Price2" : "Total Purchase Value"}
Age_Bin = Age_Bin.groupby(["Age Ranges"]).agg({'Item ID':'count','Price':'mean', 'Price2' : 'sum'}).rename(columns=rename)
Age_Bin["Avg Total Purchase per Person"] = Age_Bin["Total Purchase Value"] / A
Age_Bin

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
<10                     32                3.405000                108.96
10-14                   19                2.681579                 50.95
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
TopSpenderdf = purchase_data
TopSpenderdf["Price2"] = TopSpenderdf["Price"]
rename = {'Item ID': "Purchase Count", "Price" : "Average Purchase Price", "Price2" : "Total Purchase Value"}
TopSpenderdf=TopSpenderdf.groupby('SN').agg({'Item ID':'count','Price':'mean', 'Price2' : 'sum'}).rename(columns=rename)
TopSpenderdf =TopSpenderdf.sort_values(by=["Total Purchase Value"], ascending=False)
TopSpenderdf.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
Item_ID_Price = purchase_data[["Item Name", "Price"]]
Item_ID_Price = Item_ID_Price.drop_duplicates()
rename = {'Purchase ID': "Purchase Count", "Price" : "Total Purchase Value"}
most_popular_itemsdf = purchase_data.groupby(["Item ID", "Item Name"]).agg({'Purchase ID':'count','Price':'sum'}).rename(columns=rename)
most_popular_itemsdf["Item Price"] = most_popular_itemsdf["Total Purchase Value"]/most_popular_itemsdf["Purchase Count"]
most_popular_itemsdf.head()

                            Purchase Count  Total Purchase Value  Item Price
Item ID Item Name
0       Splinter                         4                  5.12        1.28
1       Crucifer                         3                  9.78        3.26
2       Verdict                          6                 14.88        2.48
3       Phantomlight                     6                 14.94        2.49
4       Bloodlord's Fetish               5                  8.50        1.70

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
most_popular_itemsdf = most_popular_itemsdf.sort_values(by=["Total Purchase Value"], ascending=False)
most_popular_itemsdf.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
92,Final Critic,8,39.04
103,Singed Scalpel,8,34.80